<launch>
  <include
    file="$(find gazebo_ros)/launch/empty_world.launch" />

  <param name="robot_description" command="$(find xacro)/xacro $(find locobot_description)/urdf/interbotix_locobot_description.urdf"/>

  <!-- <node name="spawn_model" pkg="gazebo_ros" type="spawn_model"
    args="-file $(find locobot_description)/urdf/interbotix_locobot_description.urdf -urdf -model locobot_description"
    output="screen" /> -->

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model locobot  -param robot_description " />

    
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  
    
</launch>
