<?xml version="1.0" encoding="utf-8"?>

<launch>
    <node pkg="baseline_navi" type="stage_switch.py" name="stage_switch"  output="screen" />
    <node pkg="baseline_navi" type="apriltags_to_goalpoint.py" name="apriltags_to_goalpoint"  output="screen" />
    <include file="$(find apriltag_ros)/launch/continuous_detection.launch" />
</launch>
