<launch>
    <arg name="pkg_name" value="baseline_navi"/>
    <arg name="teleop" default="False"/>
    <arg name="stage" value="1"/>
    <arg name="goals" default="[[3,4,1.57],[3,3,0]]"/>

    <node pkg="$(arg pkg_name)" type="goal_point.py" name="goal_point"  output="screen">
        <param name="teleop" value="$(arg teleop)" />
        <param name="stage" value="$(arg stage)" />
    </node>
</launch>
